.sidebar {
    border: 1px solid lightgray;
    flex:0.35;
    display: flex;
    flex-direction: column;
    
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding: 15px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding:10px
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    flex: 1;
    border-radius: 20px;
    padding: 8px;
}

.sidebar__searchContainer > input{
    border: none;
    margin-left: 25px;
    
}

.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    
    
}

.sidebar__headerRight {
    display: flex;
    min-width: 5vw;
    align-items: center;
    justify-content: center;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    
    font-size: 24px !important;
}

.sidebar__chats {
    
    flex: 1;
    background-color:white;
    overflow: scroll;
}